* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
  overflow: hidden;
}

.main-container{
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100vh;
}


/* HEADING */

header {
  display: flex;
  margin-top: 5%;
  margin-left: 3%;
}

.heading{
  color: #E8E9EB;
  font-weight: bolder;
  font-size: 10.1vw;
}

/* DESCRIPTION */

.description{
  color: #E8E9EB;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  margin-left: 3%;
  text-align: left;
  max-width: 1034px;
}

/* SEARCH BOX  */

.search-box{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  gap: 3vh;
  color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.5vw;
}

input {
  border: none;
  min-height: 2vw;
  width: 20vw;
  border-radius: 8px;
  color: #1a1a1a;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1vw;
  padding: 1vh;
}

/* CARD */

.card-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40vh;
  right: 10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #474A48;
  padding: 1vh;
  overflow: hidden;
}

.emoji{
  font-size: 10vh;
}

.emoji-name{
  color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 3vh;
  text-align: center;
}

.emoji-description{
    color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 2vh;
  text-align: center;
}

/* CARD 2 */
.card-div2{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  right: -10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #474A48;
  padding: 1vh;
  overflow: hidden;
  z-index: -1;
  opacity: 70%;
}

/* CARD 3 */
.card-div3{
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -15vh;
  right: -10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #474A48;
  padding: 1vh;
  overflow: hidden;
  z-index: -1;
  opacity: 70%;
}