* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
  overflow: hidden;
}

.main-container{
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


/* HEADING */

header {
  display: flex;
  margin-top: 5%;
  margin-left: 3%;
}


.heading{
  color: #E8E9EB;
  font-weight: 900;
  font-size: 25vh;
}

@media screen and (max-width: 1200px) {
  .heading{
    font-size: 20vh;
  }
}

/* DESCRIPTION */

.description{
  color: #E8E9EB;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  font-weight: 600;
  margin-left: 3%;
  text-align: left;
  max-width: 1034px;
}

@media screen and (max-width: 1200px) {
  .description{
    font-size: 2.5vh;
  }
}

/* SEARCH BOX  */

.search-box{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  gap: 3vh;
  color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 3vh;
}

input {
  border: none;
  min-height: 5vh;
  width: 50vh;
  border-radius: 8px;
  color: #1a1a1a;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5vh;
  padding: 1vh;
}

@media screen and (max-width: 1200px) {
  .search-box{
    font-size: 3vh;
  }
  input {
    min-height: 5vh;
    width: 40vh;
  }
}

/* CARD */

.card-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40vh;
  right: 10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #474A48;
  padding: 1vh;
  overflow: hidden;
}

.emoji{
  font-size: 10vh;
}

.emoji-name{
  color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 3vh;
  text-align: center;
}

.emoji-description{
    color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 2vh;
  text-align: center;
}


/* CARD 2 */
.card-div2{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  right: -10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #474A48;
  padding: 1vh;
  overflow: hidden;
  z-index: -1;
  opacity: 70%;
}

/* CARD 3 */
.card-div3{
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -15vh;
  right: -10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #474A48;
  padding: 1vh;
  overflow: hidden;
  z-index: -1;
  opacity: 70%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 940px) {
  .description{
    text-align: center;
  }
  .search-box{
    text-align: center;
  }
  input{
    width: 50vh;
    min-height: 5vh;
  }
  .main-container{
    overflow: scroll;
    
    align-items: center;
  }
  .card-div{
    position:unset;
  }
  .card-div2{
    opacity: 100%;
    position:unset;
  }
  .card-div3{
    opacity: 100%;
    position:unset;
  }
}

@media screen and (max-width: 768px) {
  .heading{
    font-size: 12vh;
  }
  .description{
    font-size: 2vh;
  }
  .description{
    text-align: center;
  }
  .search-box{
    text-align: center;
  }
  input{
    width: 45vh;
    min-height: 5vh;
  }
  .main-container{
    overflow: scroll;
    
    align-items: center;
  }
  .card-div{
    position:unset;
  }
  .card-div2{
    opacity: 100%;
    position:unset;
  }
  .card-div3{
    opacity: 100%;
    position:unset;
  }
}

@media screen and (max-width: 480px) {
  .heading{
    font-size: 8vh;
  }
  .description{
    font-size: 1.7vh;
  }
  .description{
    text-align: center;
  }
  .search-box{
    text-align: center;
  }
  input{
    width: 43vh;
    min-height: 5vh;
  }
  .main-container{
    overflow: scroll;
    
    align-items: center;
  }
  .card-div{
    position:unset;
  }
  .card-div2{
    opacity: 100%;
    position:unset;
  }
  .card-div3{
    opacity: 100%;
    position:unset;
  }
}