* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0A0D0F;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #0A0D0F;
}

::-webkit-scrollbar-thumb {
  background: #E91E63;
}


/* HEADING */

header {
  display: flex;
  margin-top: 5%;
  margin-left: 3%;
}


.heading {
  color: #E91E63;
  font-weight: 900;
  font-size: 22vh;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: 20vh;
  }
}

/* DESCRIPTION */

.description {
  color: #D6D6D6;
  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  font-weight: 600;
  margin-left: 3%;
  text-align: left;
  max-width: 1034px;
}

@media screen and (max-width: 1200px) {
  .description {
    font-size: 2.5vh;
  }
}

/* SEARCH BOX  */

form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5vh;
}

.search-box {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  gap: 3vh;
  color: #D6D6D6;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 3vh;
}

input {
  border: none;
  min-height: 5vh;
  width: 50vh;
  border-radius: 8px;
  color: #1a1a1a;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5vw;
  padding: 1vh;
}

.explore-container {
  display: flex;
  align-items: center;
  gap: 5vh;
}

@media screen and (max-width: 1200px) {
  .search-box {
    font-size: 3vh;
  }

  input {
    min-height: 5vh;
    width: 40vh;
  }
}

.search-button {
  min-height: 3.5vw;
  width: 8vw;
  align-self: flex-end;
  padding: 1vh;
  border: none;
  border-radius: 8px;
  font-size: 1vw;
  font-weight: 700;
  font-family: "Poppins";
  background-color: #1f2325;
  color: #E91E63;
}

.search-button:hover {
  background-color: #1f2325;
  color: #D6D6D6;
}

/* EXPLORE BUTTON */
.explore-button {
  min-height: 3.5vw;
  width: 8vw;
  border: none;
  border-radius: 8px;
  font-size: 1vw;
  font-weight: 700;
  font-family: "Poppins";
  background-color: #1f2325;
  color: #E91E63;
}

.explore-button:hover {
  background-color: #1f2325;
  color: #D6D6D6;
}

/* CARD */

.card-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40vh;
  right: 10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #1f2325;
  padding: 1vh;
  overflow: hidden;
}

.emoji {
  font-size: 10vh;
}

.emoji-name {
  color: #E91E63;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 3vh;
  text-align: center;
}

.emoji-description {
  color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 2vh;
  text-align: center;
}


/* CARD 2 */
.card-div2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10vh;
  right: -10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #1f2325;
  padding: 1vh;
  overflow: hidden;
  z-index: -1;
  opacity: 70%;
}

/* CARD 3 */
.card-div3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -15vh;
  right: -10vh;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #1f2325;
  padding: 1vh;
  overflow: hidden;
  z-index: -1;
  opacity: 70%;
}

/* HIGHLIGHT */
.highlight {
  color: #E91E63;
}

/* MEDIA QUERIES */

@media screen and (max-width: 940px) {
  .description {
    text-align: center;
  }

  .search-box {
    text-align: center;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 50vh;
    min-height: 5vh;
  }

  .explore-container {
    flex-direction: column;
  }

  .main-container {
    overflow: scroll;

    align-items: center;
  }

  .card-div {
    position: unset;
  }

  .card-div2 {
    opacity: 100%;
    position: unset;
  }

  .card-div3 {
    opacity: 100%;
    position: unset;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 12vh;
  }

  .description {
    font-size: 2vh;
  }

  .description {
    text-align: center;
  }

  .search-box {
    text-align: center;
  }

  input {
    width: 45vh;
    min-height: 5vh;
  }

  .main-container {
    overflow: scroll;

    align-items: center;
  }

  .card-div {
    position: unset;
  }

  .card-div2 {
    opacity: 100%;
    position: unset;
  }

  .card-div3 {
    opacity: 100%;
    position: unset;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 8vh;
  }

  .description {
    font-size: 1.7vh;
  }

  .description {
    text-align: center;
  }

  .search-box {
    text-align: center;
  }

  input {
    width: 43vh;
    min-height: 5vh;
  }

  .main-container {
    overflow: scroll;

    align-items: center;
  }

  .card-div {
    position: unset;
  }

  .card-div2 {
    opacity: 100%;
    position: unset;
  }

  .card-div3 {
    opacity: 100%;
    position: unset;
  }
}

@media screen and (max-width: 420px) {
  .search-button {
    min-height: 3vw;
    width: 10vw;
  }

  .explore-button {
    min-height: 5vw;
    width: 10vw;
  }
}


/* EXPLORE PAGE */

.EXPLORE-MAIN-CONTAINER{
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  position:sticky;
  top: 0;
  left: 0;
  min-width: 40vh;
  height: 100vh;
  background-color: #1f2325;
}

.sidebar-category-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
  color: #D6D6D6;
}

.sidebar-category-container a{
    font-family: "Poppins";
  color: #D6D6D6;
  text-decoration: none;
}

.sidebar-heading-text {
  position: relative;
  font-size: 3.5vh;
  margin-top: 5vh;
  margin-left: 5vh;
  font-weight: 700;
}

.sidebar-heading-text::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E91E63;
}

.sidebar-heading-text:hover{
  cursor: default;
}

.sidebar-category-container li {
  position: relative;
  font-size: 2vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
  list-style: none;
   
}

.sidebar-category-container li:first-child {
  margin-top: 5vh;
}

.sidebar-category li .list::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 3%;
  background-color: #E91E63;
  transform: translate3d(-200%, 0, 0);
  opacity: 0;
  border-radius: 5px;
}


.sidebar-category-container a:hover {
  color: #E91E63;
  cursor: pointer;
}

.sidebar-category-container a:active{
  color: #E91E63;
}

.sidebar-category-container li .list:hover::before{
    animation: underLineFlow 0.5s ease-out forwards;
}

@keyframes underLineFlow {
  100%{
    opacity: 100%;
    transform: translate3d(-200%, 0, 0);
  }
}

.active {
  color: #E91E63;
  cursor: pointer;
  opacity: 100% ;
}

/* EXPLORE CARD CONTAINER */

.EXPLORE-CARD-CONTAINER{
  display: flex;
  flex-direction: row;
  gap: 3vh;
  flex-wrap: wrap;
  padding: 5vh;
  padding-left: 15vh;
}

.explore-page-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40vh;
  min-height: 40vh;
  border-radius: 26px;
  background-color: #1f2325;
  padding: 1vh;
  overflow: hidden;
}

.explore-page-cards:hover, .explore-page-cards-name{
  cursor: pointer;
}

.explore-page-cards-emoji {
  font-size: 10vh;
}

.explore-page-cards-name {
  color: #D6D6D6;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 3vh;
  text-align: center;
}

.explore-page-cards-description {
  color: #E8E9EB;
  font-family: "Poppins";
  font-weight: 100;
  font-size: 2vh;
  text-align: center;
}

.EXPLORE-MID-CONTAINER{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* CATEGORY HEADING */
.EXPLORE-CATEGORY-HEADING{
  position: relative;
  padding: 5vh;
  padding-left: 15vh;
  color: #D6D6D6;
  font-size: 5vh;
}

.EXPLORE-CATEGORY-HEADING::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E91E63;
}